<form action="/submitAddUser" method="POST">
    <div class="form-group">
        <label for="addUserFirstName">First Name</label>
        <input type="text" class="form-control-plaintext" id="firstName" placeholder="Enter First Name">
    </div>
    <div class="form-group">
        <label for="addUserLastName">Last Name</label>
        <input type="text" class="form-control-plaintext" id="lastName" placeholder="Enter Last Name">
    </div>
    <div class="form-group">
        <label for="addUserEmail">Email</label>
        <input type="email" class="form-control-plaintext" id="email" placeholder="Enter Email">
    </div>
    <div class="form-group">
        <label for="addUser">Title</label>
        <input type="text" class="form-control-plaintext" id="title" placeholder="Enter Title">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>