<form action="/submitLogin">
    <label>Manifest Email</label>
    <input type="text" name="email" placeholder="Email Address"><br>
    <label>Password</label>
    <input type="password" name="pass" placeholder="Password"><br>
    <button type="submit">Submit</button>
</form>